rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userEmail} {
      allow read, write, delete: if request.auth.token.email == resource.id;
    }
  }
}